{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-use-before-define": 0,
    "class-methods-use-this": 0,
    "prefer-destructuring": 0,
    "no-plusplus": 0,
    "dot-notation": 0,
    "global-require": 0,
    "react/destructuring-assignment": [
      0,
      "never",
      {
        "ignoreClassFields": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "editor.formatOnSave": true,
        "prettier.eslintIntegration": true,
        "trailingComma": "es5",
        "singleQuote": true,
        "no-console": 2
      }
    ]
  }
}